body{
  background-color: darkslateblue;
  color:white;
}
.login-container{
  padding: 100px;
}
#loginhead{
  text-align:center;
  font-weight: bold;
  /*color: #031017;*/
}
#loginbody{
  width: 30%; margin:25px auto;
}
.login-form{
  border: 5px solid blue;
  border-radius: 2em;
  padding: 20px ;
  background-color: cornflowerblue;
}
