body{
  /*background-color: #555d68;*/
  background-color: black;
  color:white;
}

.login-container{
  padding: 50px;
}
#loginhead{
  text-align:center;
  font-weight: bold;
  /*color: #031017;*/
}
#loginbody{
  width: 30%; margin:25px auto;
}
